<div class="social-links">
    <h3>Síguenos en Redes</h3>
    <div class="social-icons <%= style === 'secondary' ? 'icon-secondary' : '' %>">
        <a href="#" aria-label="Síguenos en Facebook" class="social-icon facebook">
            <img src="/assets/icons/social/facebook.svg" alt="">
        </a>
        <a href="#" aria-label="Síguenos en Twitter" class="social-icon twitter">
            <img src="/assets/icons/social/twitter.svg" alt="">
        </a>
        <a href="#" aria-label="Síguenos en Instagram" class="social-icon instagram">
            <img src="/assets/icons/social/instagram.svg" alt="">
        </a>
        <a href="#" aria-label="Síguenos en YouTube" class="social-icon youtube">
            <img src="/assets/icons/social/youtube.svg" alt="">
        </a>
    </div>
</div>