<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcologicalCity</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/header', { currentPage: 'header' }) %>
    <main>
        <br>
        <br>
        <p>Lorem ipsum dolor sit amet, <em>Hola</em> <strong>fuerte</strong> <a href="#">Ancla <strong>fuerte</strong></a> <em><strong>MUY fuerte</strong></em> consectetur adipisicing elit. Ex, dignissimos veritatis? Autem sit iure itaque molestias quas praesentium culpa, repellendus voluptatibus deserunt nisi? Tempora delectus voluptatibus, omnis laborum autem ab.</p>
        <br>
        <br>
    </main>
    <%- include('partials/footer', { currentPage: 'news', atrribution: false }) %>
</body>
</html>