<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcologicalCity</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <%- include('partials/header', { currentPage: 'the-game' }) %>
    <main>

    </main>
    <%- include('partials/footer', { currentPage: 'the-game' }) %>
</body>
</html>