<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcologicalCity</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <%- include('partials/header', { currentPage: 'the-game' }) %>
    <main>
        <section class="section-ludic-proposal">
            <div class="container">
                <h2 class="text-center">Nuestra Propuesta: El Poder del Juego</h2>
                <div class="feature-cards-grid">
                    <div class="feature-card">
                        <img src="/assets/icons/innovation.svg" alt="Icono de Innovación">
                        <h3>Innovación Educativa</h3>
                        <p>Plataforma interactiva que fusiona la diversión del juego con la <em>educación ambiental profunda</em>.</p>
                    </div>
                    <div class="feature-card">
                        <img src="/assets/icons/gamepad.svg" alt="Icono de Gamepad">
                        <h3>Experiencia Inmersiva</h3>
                        <p>Sumérgete en un mundo donde cada decisión impacta en el <em>equilibrio ecológico</em> de tu ciudad.</p>
                    </div>
                    <div class="feature-card">
                        <img src="/assets/icons/globe.svg" alt="Icono de Globo">
                        <h3>Impacto Real</h3>
                <p>No es solo un juego, es una herramienta para fomentar el <em>pensamiento crítico</em> sobre la sostenibilidad.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer', { currentPage: 'the-game', atrribution: false }) %>
</body>
</html>