/* --- Botones Generales --- */
.btn {
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    text-shadow: 0 0 8px var(--text-color);
    transition: all 0.3s ease-in-out, transform 0.2s ease-out;
    border: 2px solid transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white-base);
    border-color: var(--color-primary);
}
.btn-primary:hover {
    color: var(--color-white-base);
    border-color: var(--color-primary);
    box-shadow: 0 0 10px rgba(11, 171, 17, 0.6), /* Sombra más suave y color primario */
                0 0 20px rgba(11, 171, 17, 0.4);
    transform: translateY(-3px) scale(1.02); /* Efecto de "pulse" y elevación */
    text-shadow: 0 0 10px var(--color-primary); /* Intensifica el text-shadow con el color primario */
}
.btn-secondary {
    background-color: var(--color-secondary-orange);
    color: var(--color-white-base);
    border-color: var(--color-secondary-orange);
}
.btn-secondary:hover {
    color: var(--color-white-base);
    border-color: var(--color-secondary-orange);
    /* Nuevo efecto de glow */
    box-shadow: 0 0 10px rgba(255, 132, 15, 0.6), /* Sombra más suave y color secundario */
                0 0 20px rgba(255, 132, 15, 0.4);
    transform: translateY(-3px) scale(1.02); /* Efecto de "pulse" y elevación */
    text-shadow: 0 0 10px var(--color-secondary-orange); /* Intensifica el text-shadow con el color secundario */
}
.btn-third {
    background-color: var(--color-secondary-brown);
    color: var(--color-white-base);
    border-color: var(--color-secondary-brown);
}
.btn-third:hover {
    color: var(--color-white-base);
    border-color: var(--color-secondary-brown);
    /* Nuevo efecto de glow */
    box-shadow: 0 0 10px rgba(var(--color-secondary-brown-rgb), 0.6), /* Sombra más suave y color secundario */
                0 0 20px rgba(var(--color-secondary-brown-rgb), 0.4);
    transform: translateY(-3px) scale(1.02); /* Efecto de "pulse" y elevación */
    text-shadow: 0 0 10px var(--color-secondary-brown); /* Intensifica el text-shadow con el color secundario */
}
a.btn,
a:visited.btn{
    color: var(--color-white-base);
    text-decoration: none;
}
/* --- Card's ---- */
.card{
    background-color: var(--color-white-base);
    border-radius: 15px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 8px 20px 2px rgba(var(--color-black-base-rgb), 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.card img,
.card svg{
    width: 90px;
    height: 90px;
    margin-bottom: 25px;
}
.card h3 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--text-color);
    text-align: center;
}
.card p {
    font-size: 0.95rem;
    line-height: 1.7;
    text-align: left;
    text-wrap: pretty;
    color: var(--text-color);
}
.card ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Social Links */
.social-links{
    display: inline-block;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--color-white-base);
    margin-right: 15px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.social-links h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--color-primary);
}
.social-icons a:hover {
    background-color: var(--color-primary);
    transform: translateY(-3px);
} 
.social-icons.icon-secondary a:hover{
    background-color: var(--color-secondary-orange);
}
.social-links img {
    width: 50px;
    stroke: currentColor;
}
.container-inset {
    --shadow-inset: linear-gradient(to top, var(--header-bg) 10%, transparent 60%), linear-gradient(to bottom, var(--header-bg) 0%, transparent 60%);
    position: relative;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    &.img-inset{
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &.img-inset::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;    
        right: 0;
        bottom: 0;
        background-image: var(--shadow-inset);
        background-color: rgba(0, 0, 0, 0.2); 
        z-index: 1;
    }
    &.leaf-pattern-inset{
        background-color: var(--header-bg);
        background-image: var(--shadow-inset), var(--leaf-pattern);
        background-repeat: repeat;
        background-position: center center;
    }
}
.ghost-text {
    color: transparent;
    text-shadow: none;
}
.noStyleText{
    color: inherit;
    text-decoration: inherit;
}
.fade-in {
    opacity: 0;
    animation: fadeIn 0.8s ease-out forwards;
}
.fade-out {
    opacity: 1;
    animation: fadeOut 0.8s ease-out forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@media (max-width: 830px) {
    .btn {
        width: 80%;
        max-width: 300px;
    }
}