/* --- Botones Generales --- */
.btn {
    display: inline-block;
    padding: 12px 25px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    text-shadow: 0 0 8px var(--text-color);
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;
    cursor: pointer;
    white-space: nowrap;
}
.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white-base);
    border-color: var(--color-primary);
}
.btn-primary:hover {
    background-color: transparent;
    color: var(--color-primary);
    border-color: var(--color-primary);
    text-shadow: 0 0 8px var(--color-primary);
}
.btn-secondary {
    background-color: var(--color-secondary-orange);
    color: var(--color-white-base);
    border-color: var(--color-secondary-orange);
}
.btn-secondary:hover {
    background-color: transparent;
    color: var(--color-secondary-orange);
    border-color: var(--color-secondary-orange);
    text-shadow: 0 0 8px var(--color-secondary-orange); 
}
/* --- Card's ---- */
.card{
    background-color: var(--color-white-base);
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.4); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 25px var(--color-secondary-brown);
}
.card h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--text-color);
    text-align: center;
}
.card p {
    font-size: 1rem;
    line-height: 1.7;
    color: var(--text-color);
}
.card ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Social Links */
.social-links{
    display: inline-block;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--color-white-base);
    margin-right: 15px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.social-links h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--color-primary);
}
.social-icons a:hover {
    background-color: var(--color-primary);
    transform: translateY(-3px);
}
.social-icons.icon-secondary a{
    background-color: var(--color-primary);
}
.social-icons.icon-secondary a:hover{
    background-color: var(--color-secondary-orange);
}
.social-links img {
    width: 50px;
    stroke: currentColor;
}
@media (max-width: 830px) {
    .btn {
        width: 80%;
        max-width: 300px;
    }
}