:root {
    --color-primary: #0bab11; /* Verde vibrante */
    --color-primary-rgb: 11, 171, 17;
    --color-secondary-orange: #ff840f; /* Naranja brillante */
    --color-secondary-orange-rgb: 255, 132, 15;
    --color-secondary-brown: #964b00; /* Marrón oscuro/tierra */
    --color-white-base: #ebebe9; /* Blanco ligeramente roto */
    --color-black-base: #131314; /* Negro casi puro */
    --color-black-base-rgb: 19, 19, 20;
    /* Colores para texto y fondo basados*/
    --text-color: var(--color-black-base);
    --background-color: var(--color-white-base);
    --header-bg: var(--color-black-base); /* Fondo del header */
    --header-link-color: var(--color-white-base);
    --footer-bg: var(--color-black-base); /* Fondo del footer */
    --footer-text-color: var(--color-white-base);
}